<div class="inner category">
    <section class="vertical header">
        <div class="inner left">
            <button type="button" class="btn btn-icon animated" animate="bounceIn" delay="300" ng-click="goStream()"><i class="icon-back"></i></button>
        </div>
        <div class="inner center">
            <b ng-bind="category.name"></b>
        </div>
        <div class="inner right">
            &nbsp;
        </div>
    </section>
    <section class="scrollable content" scrollable  on-top="source.refresh()" on-bottom="source.more()" show-indicator-for="source">
        <div class="inner">
            <div class="loader top"><span class="bounce infinite" ng-class="{ animated: source.busy }"></span></div>
            <div ng-repeat="item in source.rows">
                <div class="card">
                    <div class="card-media aspect ratio2x1" ng-click="goDish(item.id)">
                        <img src="" ng-img="getPictures(item)" class="inner" />
                    </div>
                    <div class="card-content">
                        <div class="card-headline h5" ng-click="goDish(item.id)">
                            <div class="left">
                                <b class="text-strong" ng-bind="item.name"></b>
                                <span class="price" ng-bind="item.price | currency : '€'"></span>
                            </div>
                            <div class="right">
                                <b class="rating" ng-bind="item.ratingToString()"></b>
                            </div>
                        </div>
                        <div class="card-info">
                            <b ng-repeat="category in item.categories" ng-click="goCategory(category.id)"><span ng-bind="category.name"></span>{{$last ? "" : ", "}}</b>
                            <span class="pull-right" ng-bind="item.created | relativeDate"></span>
                        </div>
                        <div class="card-divline">
                            <div class="rating" style="transform: scale({{item.rating()}}, 1);"></div>
                        </div>
                        <div class="card-body">
                            <div class="left">
                                <span class="user" ng-click="goUser(item.user.route)">
                                    <span class="picture" style="{{item.user.backgroundPicture()}}"></span>
                                    <span class="name" ng-bind="item.user.userName"></span>
                                </span>
                            </div>
                            <div class="right">
                                <i class="icon-vegan-friendly" ng-if="item.isVeganFriendly" title="is vegan friendly"></i>
                                <button type="button" ng-click="item.like(true)" ng-class="{ active: item.vote.like === true }" on-tap class="btn btn-vote btn-upvote" title="vote up"><i class="icon-upvote"></i><span ng-bind="item.yes"></span></button>
                                <button type="button" ng-click="item.like(false)" ng-class="{ active: item.vote.like === false }"  on-tap class="btn btn-vote btn-downvote" title="vote down"><span ng-bind="item.no"></span><i class="icon-downvote"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
